*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    color: rgb(241, 243, 244);
    font-weight: 600;
}
.navbar{background-color: rgb(192, 78, 196);
    
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    
}
.navbar a{color: rgb(251, 255, 42);
font-size: 30px; 
}

.julio{margin-top: 100px;

}

.j{
    margin-top: 50px;
}
    
body{background-image: url("imagenes/pexels-moose-photos-1037993.jpg");
background-size: cover;}

    
 



  

 